phonemes filter=lfs diff=lfs merge=lfs -text
samps filter=lfs diff=lfs merge=lfs -text
phonemes/ea.wav filter=lfs diff=lfs merge=lfs -text
phonemes/k.wav filter=lfs diff=lfs merge=lfs -text
phonemes/ng.wav filter=lfs diff=lfs merge=lfs -text
phonemes/ure.wav filter=lfs diff=lfs merge=lfs -text
phonemes/a.wav filter=lfs diff=lfs merge=lfs -text
phonemes/au.wav filter=lfs diff=lfs merge=lfs -text
phonemes/uh.wav filter=lfs diff=lfs merge=lfs -text
phonemes/ai.wav filter=lfs diff=lfs merge=lfs -text
phonemes/oh.wav filter=lfs diff=lfs merge=lfs -text
phonemes/m.wav filter=lfs diff=lfs merge=lfs -text
phonemes/oo.wav filter=lfs diff=lfs merge=lfs -text
phonemes/s.wav filter=lfs diff=lfs merge=lfs -text
phonemes/wh.wav filter=lfs diff=lfs merge=lfs -text
phonemes/z.wav filter=lfs diff=lfs merge=lfs -text
phonemes/eau.wav filter=lfs diff=lfs merge=lfs -text
phonemes/ir.wav filter=lfs diff=lfs merge=lfs -text
phonemes/b.wav filter=lfs diff=lfs merge=lfs -text
phonemes/eh.wav filter=lfs diff=lfs merge=lfs -text
phonemes/ih.wav filter=lfs diff=lfs merge=lfs -text
phonemes/rr.wav filter=lfs diff=lfs merge=lfs -text
phonemes/v.wav filter=lfs diff=lfs merge=lfs -text
phonemes/ah.wav filter=lfs diff=lfs merge=lfs -text
phonemes/ar.wav filter=lfs diff=lfs merge=lfs -text
phonemes/ee.wav filter=lfs diff=lfs merge=lfs -text
phonemes/f.wav filter=lfs diff=lfs merge=lfs -text
phonemes/ge.wav filter=lfs diff=lfs merge=lfs -text
phonemes/our.wav filter=lfs diff=lfs merge=lfs -text
phonemes/pp.wav filter=lfs diff=lfs merge=lfs -text
phonemes/si.wav filter=lfs diff=lfs merge=lfs -text
phonemes/aw.wav filter=lfs diff=lfs merge=lfs -text
phonemes/d.wav filter=lfs diff=lfs merge=lfs -text
phonemes/t.wav filter=lfs diff=lfs merge=lfs -text
phonemes/y.wav filter=lfs diff=lfs merge=lfs -text
phonemes/ch.wav filter=lfs diff=lfs merge=lfs -text
phonemes/ere.wav filter=lfs diff=lfs merge=lfs -text
phonemes/g.wav filter=lfs diff=lfs merge=lfs -text
phonemes/h.wav filter=lfs diff=lfs merge=lfs -text
phonemes/sh.wav filter=lfs diff=lfs merge=lfs -text
phonemes/ae.wav filter=lfs diff=lfs merge=lfs -text
phonemes/air.wav filter=lfs diff=lfs merge=lfs -text
phonemes/oi.wav filter=lfs diff=lfs merge=lfs -text
phonemes/ow.wav filter=lfs diff=lfs merge=lfs -text
phonemes/p.wav filter=lfs diff=lfs merge=lfs -text
phonemes/w.wav filter=lfs diff=lfs merge=lfs -text
phonemes/yi.wav filter=lfs diff=lfs merge=lfs -text
phonemes/i.wav filter=lfs diff=lfs merge=lfs -text
phonemes/l.wav filter=lfs diff=lfs merge=lfs -text
phonemes/r.wav filter=lfs diff=lfs merge=lfs -text
phonemes/th.wav filter=lfs diff=lfs merge=lfs -text
phonemes/j.wav filter=lfs diff=lfs merge=lfs -text
phonemes/n.wav filter=lfs diff=lfs merge=lfs -text
samps/MixPre-012.wav filter=lfs diff=lfs merge=lfs -text
samps/MixPre-017.wav filter=lfs diff=lfs merge=lfs -text
samps/street.wav filter=lfs diff=lfs merge=lfs -text
samps/sw.aif filter=lfs diff=lfs merge=lfs -text
samps/rf-24b.wav filter=lfs diff=lfs merge=lfs -text
samps/MixPre-009.wav filter=lfs diff=lfs merge=lfs -text
samps/MixPre-010.wav filter=lfs diff=lfs merge=lfs -text
samps/MixPre-011.wav filter=lfs diff=lfs merge=lfs -text
samps/MixPre-013.wav filter=lfs diff=lfs merge=lfs -text
samps/MixPre-016.wav filter=lfs diff=lfs merge=lfs -text
samps/MixPre-018.wav filter=lfs diff=lfs merge=lfs -text
samps/bell.wav filter=lfs diff=lfs merge=lfs -text
samps/papert.wav filter=lfs diff=lfs merge=lfs -text
samps/yiddish1.wav filter=lfs diff=lfs merge=lfs -text
samps/ambience.wav filter=lfs diff=lfs merge=lfs -text
